.status-card{
    /* background-color: white; */
    text-align: left;
}
.po_nunmber-circle {
    font: 32px Arial, sans-serif;
    width: 3em;
    height: 3em;
    margin-left: 39%;
    background: black;
    border: 0.1em solid #666;
    color: white;
    text-align: center;
    border-radius: 50%;
    line-height: 3em;
    overflow: hidden;
    box-sizing: content-box;
}

.month-card{
    background-color: white;
    color: black;
    font: 39px Arial, sans-serif;
    border: 0.1em solid #666;
    line-height: 2em;
}
.wrap-text{
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.custom-table{
    display: block;
    height: 386px;
    overflow-y: scroll;
}
.x-axis-label{
    transform: rotate(-90deg);
}

g text{
    font-weight: 600;
}
.po-select {
    /* width: 12%; */
    width: 45%;
}
.year-select option {
   background-color: white;
   color: black;
}
.cash-flow-title{
font-weight: bold;
}
.sub-title{
    font-size: 14px;
}
.filter-option{
    right: 1%;
    width: 38%;
    position: absolute;
    top: 2%;
    z-index: 1;
}

.date-range-picker .react-datepicker-wrapper{
    width: 14%!important
}
.month-picker .react-datepicker-wrapper{
    /* width: 15% !important */
}

.chart-title{
 color:rgb(117, 117, 117);;
 font-size: medium;
 font-weight: bold;
}

.month-year-picker{
    width: 42%;
}
.dashboard-title{
    text-transform: uppercase;
    letter-spacing: 3px;
}